.env
.env.*
node_modules
.cursor/
.cursorrules
PRD.md
tasks/IMPLEMENTATION.md
.next/*
build/*
.cursor/
.cursorrules
PRD.md
tasks/IMPLEMENTATION.md
.next/*
build/*
.cursor/
.cursorrules
PRD.md
tasks/IMPLEMENTATION.md